In [4]:
from utils import join_data
import pandas as pd

selected_players = ['Mbappé']
selected_raw_cols = ['date', 'player_name', 'market_value_eur']
market_value_pd = join_data(player_names=selected_players)[selected_raw_cols]
market_value_pd.head()

        date player_name  market_value_eur
0 2025-09-08      Mbappé          23590000
1 2025-09-07      Mbappé          23580000
2 2025-09-06      Mbappé          23540000
3 2025-09-05      Mbappé          23510000
4 2025-09-04      Mbappé          23450000